<div id="signup" [formGroup]="f">

  <h1>Sign Up for Free</h1>

    <div class="top-row">
      <div class="field-wrap">
        <label>
          First Name<span class="req">*</span>
        </label>
        <input type="text" autocomplete="off" formControlName="firstName" (keyup)="makeSnow($event.currentTarget.value)" />
      </div>

      <div class="field-wrap">
        <label>
          Last Name<span class="req">*</span>
        </label>
        <input type="text" autocomplete="off" formControlName="lastName" />
      </div>
    </div>

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input type="email" autocomplete="off" formControlName="email" />
    </div>


    <div formGroupName="passwords" class="form-group">
      <div class="field-wrap">
        <label>
          Set A Password<span class="req">*</span>
        </label>
        <input type="password" autocomplete="off" formControlName="password" />
      </div>

      <div class="field-wrap">
        <label>
          Repeat Password<span class="req">*</span>
        </label>
        <input type="password" autocomplete="off" formControlName="passwordRepeat" />
      </div>
    </div>

    <pre *ngIf="f.pending">please wait...</pre>

    <button type="button" class="button button-block" [disabled]="!f.valid" (click)="submit()">Get Started</button>

</div>
