<div id="login">

  <h1>Welcome Back!</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input type="email" required autocomplete="off" name="email" [(ngModel)]="credentials.email" appValidEmail #e="ngModel">
      <div *ngIf="e.errors" [hidden]="e.valid || e.pristine" class="alert alert-danger">
        <div *ngIf="e.errors.required">
          Email address is required
        </div>
        <div *ngIf="!e.errors.required && e.errors?.invalidEmail">
          "{{e.errors.invalidEmail.value}}" is not a valid email address.
        </div>
      </div>
    </div>

    <div class="field-wrap">
      <label>
        Password<span class="req">*</span>
      </label>
      <input type="password" required autocomplete="off" name="password" [(ngModel)]="credentials.password" #p="ngModel">
      <div [hidden]="p.valid || p.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>

    <p class="forgot"><a routerLink="/password-recovery">Forgot Password?</a></p>

    <button type="submit" class="button button-block" [disabled]="!f.form.valid">Log In</button>

  </form>

</div>
