<div id="password-recovery">
  <h1>Password Recovery</h1>

  <form action="/" method="post">

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input type="email" required autocomplete="off">
    </div>

    <div class="field-wrap">
        <label class="checkbox">
        <input type="checkbox">
        <span>I am a human</span>
        </label>
    </div>

    <button type="button" class="button button-block">Send</button>

  </form>

</div>
